In [1]:
def tushar():
    print('Ai')
    print('Data Annotator')

In [2]:
tushar()

Ai
Data Annotator

In [3]:
def details(name,address):
    print(f'hi{name}{address}')
    print("welcome")

In [5]:
details("tushar","56/2 Akhnad")

hitushar56/2 Akhnad
welcome

In [9]:
def himanshu(name):
    return f'hi {name}'

In [12]:
df=himanshu('himanshu')

In [13]:
df

'hi himanshu'

In [18]:
def cricker_info(name,run,matches):
    print(f'this is the match info of cricket: name:{name} runs:{run} matches :{matches}')

In [19]:
cricker_info('tushar',250,7)

this is the match info of cricket: name:tushar runs:250 matches :7

In [20]:
def choice(c):
    if c%2 ==0:
        return "Learn Python!"
    else:
        return "Learn JavaScript!"

In [24]:
choice(23)

'Learn JavaScript!'

In [25]:
print(f"Hello Python, tell me what I should learn. {choice(3)}")

Hello Python, tell me what I should learn. Learn JavaScript!

In [28]:
print(f'python or javascript: {choice(5)}')

python or javascript: Learn JavaScript!

In [16]:
# def adding(number,by):
#     return number+by

# total=adding(7,5)

In [34]:
def addding(*numbers):
    total=0
    for i in numbers:
        total=total+i
    return total

In [43]:
data=(addding(1,5,6))

In [44]:
data

12

In [7]:
# def multiply(number,nos):
#     return (number*nos)

# total=multiply(7,5,5,7)

TypeError: multiply() takes 2 positional arguments but 4 were given

In [12]:
# # Asterisk=* or for taking multuple input

# def multiply(*numbers):
#     total=1
#     for i in numbers:
#         total=total*i
#     return total

In [11]:
multiply(4,5,7,9,7)

8820

In [54]:
def save_user(**user):
    return(user)

In [55]:
print(save_user(id=1,name='tushar',password='12345'))

{'id': 1, 'name': 'tushar', 'password': '12345'}

In [56]:
def checking(input):
    if input > 30:
        return 'pass'
    if input < 30:
        return "fail"

In [59]:
print(checking(77))

pass

In [1]:
__name__

'__main__'

In [2]:
class vehicle:
    
    def general_usage(self):                      #methods
        print("general use: transporation")

class car(vehicle):
    def __init__(self):
        print('i am car')
        self.wheels=4
        self.has_roof=True
        
    def specific_usage(self):
        print("specific use: commute to work ,vaccation with family")

class motorcycle(vehicle):
    def __init__(self):
        print('i a motor cycle')
        self.wheels=2
        self.has_roof=True
        
    def specific_usage(self):
        print("specific use: road trip ,racing")
        
c=car()
c.general_usage()
c.specific_usage()

i am car
general use: transporation
specific use: commute to work ,vaccation with family

In [4]:
m=motorcycle()
m.general_usage()
m.specific_usage()

i a motor cycle
general use: transporation
specific use: road trip ,racing

In [33]:
# multi inheritance

class a:
    
    def displayA(self):
        print('data of a')

class b(a):       # B ke ander inheritate kardiya A ko
    def displayB(self):
        print('data of b')
        
class c(b):
    def displayC(self):
        print('data of c')
        
        
obj=c()
obj.displayA()
obj.displayB()
obj.displayC()

data of a
data of b
data of c

In [37]:
# Direct inheritance

class a:
    
    def displayA(self):
        print('data of a')

class b:       # B ke ander inheritate kardiya A ko
    def displayB(self):
        print('data of b')
        
class c(a,b):
    def displayC(self):
        print('data of c')
        
objj=c()
objj.displayA()
objj.displayB()
objj.displayC()

data of a
data of b
data of c

In [5]:
age=int(input())
if age >=18:
    print("eligiable")
else:
    print('not eligiable')

18
eligiable

In [11]:
age =87

message='eligiable' if age>=18 else 'not eligiable'
print(message)

eligiable

In [1]:
def convert(obj):
    L=[]
    
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        return L

In [4]:
def three_name(dic):
    
    lis=[]
    counter=0
    for i in dic:
        if counter !=3:
            lis.append(i['names'])
            counter+=1
        else:
            break
    return lis

In [5]:
def extract_job(dic):
    apnd=[]
    
    
    for i in dic:
        if i['name']=='director':
            apnd.append(i['name'])
            break
        return apnd

In [ ]:
# enumerate funtion for creating the indexing positions
# like:

# movie_list=sorted(list(enumerate(similarity[0]))

# [(0,1.0000000000000002),
# (1, 0.08346223261119858),
# (2, 0.08346245561119858),
# (3, 0.0734718358370645),
# (4, 0.1892994097121204),
# (5, 0.10838874619051501)]

In [2]:
def f(n):
    return n*n

if __name__ ==  "__main__":
    array=[1,2,3,4,5]
    
    result=[]
    for n in array:
        result.append(f(n))
        print(result,end='')

[1][1, 4][1, 4, 9][1, 4, 9, 16][1, 4, 9, 16, 25]

In [3]:
def multiply(a,b):
    
    
    for i in range(b):
        print(b)

In [5]:
b=4

for i in range(b):
    print(b)

4
4
4
4

In [6]:
class Atm:
    
    def __init__(self):
        self.pin=''
        self.balance=0
        
        self.menu()
    
    def menu(self):
        user_input=input("""
        hellow how would you like to proceedhel
                         1.Enter the crete pin
                         2.Enter 2 to deposite
                         3.Enter 3 to Withdraw 
                         4.Enter 4 to check balance 
                         5 Enter 5 to exit""")
        
        
    if user_input=='1':
        print("Create Pin")
        
    elif user_input=='2':
        print("deposite ")
        
    elif user_input=="3":
        print("Withdraw")
        
    elif user_input=="4":
        print("Check the balance")
        
    elif user_input=="5":
        print("Exit")
        
    else:
        print("bye")

NameError: name 'user_input' is not defined

In [1]:
def evenodd(no):
    if type(no)==int:
        if no %2 ==0:
            print("even")
        else:
            print('odd')
    else:
        return "not supported"

In [2]:
evenodd('ttu')

'not supported'

In [12]:
def oddeven(no):
    if type(no)==int and str:
        if no % 2 ==0:
            print("even number")
        else:
            print("odd number")
    else:
        print("not no or divisible entry")

In [13]:
oddeven("tushr")

not no or divisible entry

In [14]:
def adding(*numbers):
    total=1
    for i in numbers:
        total=total+i
    return total



def addd2(*no):
    total=1
    for i in no:
        total=total+i
    return total

In [16]:
addd2(5,45,98,54)

203

In [22]:
def sub(a,b):
    return a-b

In [24]:
sub(788,78)

710

In [35]:
def tu(age,name):
    print(age,name)

In [36]:
tu(23,'tushar')

23 tushar

In [37]:
# demo is the function name
def demo(name, age):
    # print value
    print(name, age)

# call function
demo("Ben", 25)

Ben 25

In [40]:
def nu(*numbers):
    for i in numbers:
        print(numbers)

In [41]:
nu(1,2,3,4,5,6,)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [47]:
def add_sub(a,b):
    add1=a+b
    sub1=a-b
    return(add1,sub1)

In [48]:
add_sub(4,2)

(6, 2)

In [49]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    # return multiple values separated by comma
    return addition, subtraction

# get result in tuple format
res = calculation(40, 10)
print(res)

(50, 30)

In [51]:
import json

data = {"key1" : "value1", "key2" : "value2"}

jsonData = json.dumps(data)
print(jsonData)

{"key1": "value1", "key2": "value2"}

In [4]:
import json

data ={'tushar':10,'bhAWSR':40}

UDATA=json.dumps(data)
print(UDATA)

{"tushar": 10, "bhAWSR": 40}

In [17]:
def maxvalue(**no):
    maximum=max.no
    return maximum

In [18]:
maxvalue(45,74,87,97)

TypeError: maxvalue() takes 0 positional arguments but 4 were given

In [7]:
# Initialize list
test_list = [
    {'Course': "C++", 'Author': "Jerry"},
    {'Course': "Python", 'Author': "Mark"},
    {'Course': "Java", 'Author': "Paul"}]

# Find dictionary matching value in list
res = None
for sub in test_list:
    if sub['Author'] == "Mark":
        res = sub
        break
        print(res)

# printing result
# print("The filtered dictionary value is : " + str(res))