In [2]:
a=["tushar",'Animesh',"Deepak","deepanshu","Krishna"]

In [3]:
import numpy as np

In [4]:
np.array(a)

array(['tushar', 'Animesh', 'Deepak', 'deepanshu', 'Krishna'], dtype='<U9')

In [5]:
np.array(a)

array(['tushar', 'Animesh', 'Deepak', 'deepanshu', 'Krishna'], dtype='<U9')

In [ ]:
a=[]

user=int(input("Enter size of array"))

In [13]:
df=10

for i in range(0,df,2):
    print(i)

0
2
4
6
8

In [11]:
t=range(1,5)
for i in t:
    print(i)

1
2
3
4

In [14]:
x = range(3, 20, 2)
for n in x:
    print(n)

3
5
7
9
11
13
15
17
19

In [16]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [17]:
liste=[45,58,98,64,31,24]

json.dumps(liste)

'[45, 58, 98, 64, 31, 24]'